@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}
html{
    scroll-behavior: smooth;
}

.navbar{
    position: fixed;
    width: 100%;
    padding: 30px 0px;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.5s ease;
    z-index: 99;
}
.navbar.stickey{
    padding: 15px 0px;
    background: crimson;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 35px;
    color: white;
    font-weight: 600;

}
.navbar .logo a span{
    color: crimson;
}
.navbar.stickey .logo a span{
    color: white;
}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: crimson;
    
}

.navbar.stickey .menu li a:hover{
    color: black;
}
/* hamburger button  styling */
.menu-btn{
    color:white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 40px;
    background: crimson;
    right: 30px;
    bottom: 30px;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all .4s ease;

}


.scroll-up-btn.show{
    opacity: 1; 
    pointer-events: auto;
}


/* home styling */
.home{
    display: flex;
    background: url("./images/banner1.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text1{
    font-size: 27px;
}
.home .home-content .text2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3pxs;
}
.home .home-content .text3{
    font-size: 40px;
    margin: 15px 0;
}
.home .home-content .text3 span{
    color: crimson;
    font-weight:500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 25px;
    padding:15px 36px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid crimson;
    transition: all 0.4s ease-in-out;
}
.home .home-content a:hover{
    background: none;
    color: crimson;
}

/* section content */
.about, .services, .skills, .team, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
section {
    padding: 100px 0;
}
section .title{
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 224px;
    height: 3px;
    background: black;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -13px;
    font-weight: 600;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 5px;
    background:white;
    transform: translateX(-50%);
}
.about .about-content, 
.services .serve-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* about section */



.about .title::after{
    content: "who i am";
}

.about .about-content .left {
    width: 45%;
}  
.about .about-content .left img{  
    height: 400px;
    width: 300px;
    border-radius: 12px;

}
.about .about-content .right {
    width: 55%;
} 
.about .about-content .right .text {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
} 
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
} 
.about .about-content .right a{
    display: inline-block;
    background: crimson;
    color: white;
    font-size: 25px;
    font-weight: 600;
    padding:8px 36px;
    border-radius: 10px;
    margin-top: 20px;
    border: 2px solid crimson;
    transition: all 0.4s ease-in-out;
} 
.about .about-content .right a:hover{
    background: none;
    color: crimson;
}

/* services section */
.services, .team{
    background: #111;
    color: white;

}
.services .title::before, .team .title::before{
    background: white;
    width: 270px;
}
.services .title::after{
    background: #111;
    content: "what i provide";
}
.services .serve-content .card{
    width: calc(33% - 30px);
    background: #222;
    text-align: center;
    border-radius: 8px;
    padding: 25px;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.services .serve-content .card i{
    font-size: 50px;
    color: crimson;
    transition: all .4s ease-in-out;
}
.services .serve-content .card .text{
    font-size: 25px;
    font-weight: 500;
    margin:10px 0;
}
.services .serve-content .card .box{
    transition: all .4s ease-in-out;
}
.services .serve-content .card:hover{
    background: crimson;  
}
.services .serve-content .card:hover i{
    color:black;
}
.services .serve-content .card .box:hover{
    transform: scale(1.05);
}

/* skills section */
.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: calc(50% - 30px);
}
.skills .skills-content .left .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skills .skills-content .left p{
    text-align: justify;
}
.skills .skills-content .right .bars{
    margin-bottom: 17px;
}
.skills .skills-content .right .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content .right span{
    font-weight: 600;
    font-size: 20px;
    color: black;
}
.skills .skills-content .right .line{
    height: 7px;
    width: 100%;
    background:rgb(193 193 193);
    position: relative;
}


.skills .skills-content .right .react::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:crimson;
    width: 70%;
}
.skills .skills-content .right .JavaScript::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:crimson;
    width: 80%;
}
.skills .skills-content .right .html::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:crimson;
    width: 90%;
}
.skills .skills-content .right .css::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:crimson;
    width: 75%;
}

.skills .skills-content .right .java::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background:crimson;
    width: 50%;
}
.team .title::after{
    content: "i work with";
    background: #111;
}
.team .carousel .card{
    background: #222;
    border-radius: 8px;
    padding: 35px;
    text-align: center;
    transition: all .6s ease;
}
.team .carousel .card:hover{
    background: crimson;
}
.team .carousel .card:hover img{
    border: rgb(255, 255, 255);
}
.team .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.team .carousel .card:hover .box{
    transform: scale(1.06);
}
.team .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.team .carousel .card img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all .6s ease;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;

}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all .5s ease;
}
.owl-dot.active{
    width: 32px;
    border-radius: 13px;
    background: crimson!important;
}

/* contact */
.contact .title::before{
    width: 257px;
}
.contact .title::after{
    content: "get in touch";
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}
.contact .contact-content .left p{
text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 15px;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
    margin: 15px 0;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 30px;
    color: crimson;
    width: 20px;

}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
}
.contact .right form .name{
    margin-right: 15px;
}

.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 8px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.contact .right form .textarea textarea {
    padding-top: 15px;
    resize: none;
}
.contact .right form .button{
    height: 50px;
    width: 200px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid crimson;
    background: crimson;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border-radius: 10px;
    transition: all .5s ease;
    cursor: pointer;

}
.contact .right form .button button:hover{
    background: none;
    color: crimson;
}

footer{
    background: #111;
    padding: 18px;
    color: white;
    text-align: center;
}
footer span a{
    color: crimson;
}
footer span a:hover{
    text-decoration: underline;
}




/* respnsive media querry */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0;
    }
}

@media (max-width: 1170px) {
    .about .about-content .left img{  
        height: 350px;
        width: 350px;
    
    }   
}


@media (max-width: 975px) {
    .max-width{
        padding: 0 40px;
    }
    .menu-btn i.active::before{
        content:"\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        left: 200%;
        background: #050505;
        text-align: center;
        padding-top: 100px;
        transition: all 0.5s ease-in-out;

    }
    .navbar .menu.active{
        left: 0px;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .menu-btn{
        display: block;
        z-index: 20;
    }
    .home .home-content .text2{
        font-size: 60px;
    }
    .home .home-content .text3{
        font-size: 30px;
    }
    .max-width{
        max-width: 800px;
    }
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin:0 auto 60px auto;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serve-content .card, .skills .skills-content .column, .contact .contact-content .column{
        flex: 100%;
        margin: 15px 0px;
    }
    .about .about-content .left img{
        border-radius: 50%;
    }
    footer{
        font-size: 20px;
        padding: 5px;
    }
    


    
    @media (max-width: 450px) {
        .home .home-content .text2{
            font-size: 40px;
        }
        .home .home-content .text3{
            margin-top: 0;
            font-size: 29px;
        }
        .services .title::after{
            font-size: 18px;
        }
        footer{
            font-size: 12px;
            padding: 3px;
        }

    }
}